div(ng-controller="IndexCtrl").span12
    .row-fluid
        ul.breadcrumb
            li
                a(href='#') Home
            li(ng-repeat='br in breadcrumb')
                span.divider /
                a(ng-href='#?_p={{br.path}}') {{br.name}}
    .row-fluid.pb_fadein
        ul(ng-show='folders.length')#folders-list.thumbnails.span12.pb_well
            li(ng-repeat='folder in folders')
                a(ng-href='#?_p={{folder.path}}',
                    title='{{folder.dirTitle | uppercase}}').thumbnail.pb_thumb_128
                    div(fadebackground="{{folder.thumbnailPath}}?thumbnail=256").pb_table
                        .pb_cell
                            .pb_centered_text {{folder.name}}

    .row-fluid.pb_fadein
        ul(ng-show='videos.length')#videos-list.thumbnails.span12.pb_well
            li(ng-repeat='file in videos')
                video(width='320' controls)
                    source(src='{{file.path}}' type='video/mp4')
                    div Your browser does not support the video element.

    .row-fluid.pb_fadein
        ul(ng-show='images.length')#photos-list.thumbnails.span12.pb_well
            li(ng-repeat='file in images')
                a(ng-href='{{file.path}}?scale.width=1280',
                    title='{{file.name | uppercase }}',
                    data-pp-title='<a href="{{file.path}}">{{file.name | uppercase}}</a>',
                    rel='prettyPhoto[gallery]').thumbnail.pb_thumb_256
                    div(fadebackground="{{file.path}}?thumbnail=256").pb_table

