div(ng-controller="IndexCtrl").span12
    .row-fluid
        ul.breadcrumb
            li
                a(href='#') Home
            li(ng-repeat='br in breadcrumb')
                span.divider /
                a(ng-href='#?_p={{br.path}}') {{br.name}}
    .row-fluid.pb_fadein
        ul(ng-show='folders.length')#folders-list.thumbnails.span12.pb_well
            li(ng-repeat='folder in folders')
                a(ng-href='#?_p={{folder.path}}', title='{{folder.dirTitle | uppercase}}', ng-style="folder.thumbnailStyle").thumbnail.pb_cropped.pb_folder
                    .pb_table
                        .pb_cell
                            .pb_centered_text {{folder.name}}

    .row-fluid.pb_fadein
        ul(ng-show='files.length')#photos-list.thumbnails.span12.pb_well
            li(ng-repeat='file in files')
                a(ng-href='image/xl?_p={{file.path}}',
                    title='{{file.name | uppercase }}',
                    data-pp-title='<a href="image/o?_p={{file.path}}">{{file.name | uppercase}}</a>',
                    ng-style="file.thumbnailStyle",
                    rel='prettyPhoto[gallery]').thumbnail.pb_cropped

