doctype html
html(ng-app="Photobox.js")
    head
        meta(charset='utf8')
        title(ng-bind="'#{title} ' + subTitle")= title
        link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='bootstrap/css/bootstrap-responsive.min.css')
        //- link(rel='stylesheet', href='css/jquery-ui-bootstrap/jquery-ui-1.10.0.custom.css');
        link(rel='stylesheet', href='css/main.css')
        // jquery
        script(src='js/jquery-1.9.1.min.js')
        //script(src='js/jquery-ui-1.10.1.custom.min.js')
        // underscore
        script(src='js/underscore-min.js')
        // prettyPhoto
        link(rel='stylesheet', href='js/prettyPhoto-3.1.5/css/prettyPhoto.css')
        script(src='js/prettyPhoto-3.1.5/js/jquery.prettyPhoto.modified.js')

    body
        #wrap
            .container-fluid
                block content
                #push
        footer#footer
            .container-fluid
                hr
                | &copy; Oleksiy Krivoshey. CSS by
                a(target="_blank", href="http://twitter.github.com/bootstrap")
                    |  Twitter Bootstrap

        script(src='bootstrap/js/bootstrap.min.js')
        // angular
        script(src='js/angular-1.0.4/angular.min.js')
        script(src='js/angular-1.0.4/angular-resource.js')
        //script(src='js/angular-ui-bootstrap/ui-bootstrap-tpls-0.2.0.min.js')
        //script(src='js/angular-ui-0.4.0/build/angular-ui.min.js')
        // application code
        script(src='app.js')
        script(src='controllers.js')
        script(src='filters.js')
        script(src='services.js')
        script(src='directives.js')
