a:hover {
    text-decoration: none;
}

body {
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 75%;
}
.table th, .table td {
    line-height: 14px;
    font-size: 12px;
}
.pagination {
    margin: 0px;
}
td.nowrap {
    white-space:nowrap;
}

.thumbnail.pb_cropped {
    width:256px; height:256px;
    background-position: center center;
    background-size: cover;
}

.thumbnail.pb_cropped.pb_folder {
    width: 128px; height: 128px;
}

.thumbnail .pb_table {
    display: table; width: 100%; height: 100%;
}

.thumbnail .pb_cell {
    display: table-cell; vertical-align: middle;
}

.thumbnail .pb_centered_text {
    text-align: center;
    background-color: rgba(240, 240, 240, .9);
}