a:hover {
    text-decoration: none;
}

body {
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 75%;
}
.table th, .table td {
    line-height: 14px;
    font-size: 12px;
}
.pagination {
    margin: 0px;
}
td.nowrap {
    white-space:nowrap;
}

.thumbnail_cropped {
    width:256px; height:256px;
    background-position: center center;
    background-size: cover;
}

.thumbnail_cropped.folder {
    width: 128px; height: 128px;
    display: table;
}

.folder div {
    display: table-cell;
    vertical-align: middle;
}

.folder p {
    text-align: center;
    background-color: rgba(240, 240, 240, .9);
}