body {
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 75%;
}
.table th, .table td {
    line-height: 14px;
    font-size: 12px;
}
.pagination {
    margin: 0px;
}
td.nowrap {
    white-space:nowrap;
}

.logs-histogram {
    width: 100%;
    height: 150px;
}
